@model IEnumerable<HelloWorldV1.Models.Movie>

<b> Movies List:</b>

<table border="1">

    <tr>
        <th>Title</th>
        <th>Year</th>
    </tr>

    @foreach (var movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Year</td>
        </tr>
    }
</table>