
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MovieOfTheMonth</title>
</head>
<body>
    <div>
        @{
        var movieOfTheMonth = new { Rank = 1, Title = "The Shawshank Redemption", Year = 1994 };
        }
        Movie of the month: @movieOfTheMonth.Title
    </div>
</body>
</html>
